* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/*BACKGROUND*/
#welcome {
  background-image: url(../img/fondo11.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 15%;
}

/*MENÚ*/
.pos-f-t {
  background-color: none;
  position: fixed;
  width: 15%;
  z-index: 100;
}

#icon {
  border: 1.5px solid #000;
  border-radius: 50%;
  width: 40%;
  height: 10vh;
  background: rgba(255,0,132,0.46);
  background: -moz-linear-gradient(-45deg, rgba(255,0,132,0.46) 0%, rgba(255,0,132,0.45) 0%, rgba(255,0,132,0.45) 48%, rgba(255,0,132,0.45) 97%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,132,0.46)), color-stop(0%, rgba(255,0,132,0.45)), color-stop(48%, rgba(255,0,132,0.45)), color-stop(97%, rgba(255,0,132,0.45)));
  background: -webkit-linear-gradient(-45deg, rgba(255,0,132,0.46) 0%, rgba(255,0,132,0.45) 0%, rgba(255,0,132,0.45) 48%, rgba(255,0,132,0.45) 97%);
  background: -o-linear-gradient(-45deg, rgba(255,0,132,0.46) 0%, rgba(255,0,132,0.45) 0%, rgba(255,0,132,0.45) 48%, rgba(255,0,132,0.45) 97%);
  background: -ms-linear-gradient(-45deg, rgba(255,0,132,0.46) 0%, rgba(255,0,132,0.45) 0%, rgba(255,0,132,0.45) 48%, rgba(255,0,132,0.45) 97%);
}

.navbar button span i {
  color: #000;
  font-size: 20px;
  margin-top: 15%;
}

#nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  width: 150%;
}

/*INICIO*/
#inicio ul li {
  list-style: none;
  text-align: center;
}

#inicio ul {
  margin-top: 15%;
  width: 100%;
}

#inicio ul li h3 {
  color: #AD1457  ;
  font-family: 'Parisienne', cursive;
  font-size: 80px;
  font-weight: 600;
}

#inicio ul li p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: -1.5%;
  color: #000;
}

/*ABOUT ME*/
#aboutSection, #skillSection, #projectsSection, #contactSection {
  overflow: hidden;
}

#about {
  width: 40%;
}

#aboutMe{
  background-image: url(../img/pintura1.PNG);
  background-repeat: no-repeat;
  margin-left: 90%;
  margin-top: 5%;
}

#aboutMe h1{
  margin-top: 2%;
  margin-left: 15%;
  width: 40%;
  font-family: 'Parisienne', cursive;
  font-weight: 600;
  text-align: center;
  color: #FFF;
}

#me {
  width: 50%;
  height: 75%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 25%;
}

#textMe p{
  width: 70%;
  margin-top: 8%;
  height: 15%;
}

#aboutSection {
  border: 1px solid blue;
}

/*SKILLS*/
#skillSection{
  border: 1px solid blue;
  background-image: url(../img/background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#skill {
  width: 40%;
}

#skills {
  background-image: url(../img/pintura2.PNG);
  background-repeat: no-repeat;
  margin-left: 90%;
  margin-top: 5%;
}

#skills h1 {
  width: 100%;
  font-family: 'Parisienne', cursive;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-left: -15%;
}

#list {
  margin-left: -15%;
}

#list li {
  list-style: none;
  display: inline-block;
  margin-left: 10%;
  margin-top: 3%;
  text-align: center;
}

#list li h3 {
  width: 100%;
  text-align: center;
  margin-left: 50%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin-top: 3%;
}

#bootstrap, #css, #html, #javascript, #jquery {
  color: #000;
  font-size: 80px;
  margin-left: 50%;
}

#mocha, #react, #nodejs, #sass, #angular {
  color: #000;
  font-size: 80px;
  margin-left: 50%;
}

/*PROJECTS*/
#projects {
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

#card1, #card2, #card3 {
  margin-left: 10%;
}

#card {
  width: 90%;
  height: 60%;
}

.card-title {
  margin-top: 8%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

#demo {
  margin-left: 5%;
}

#code, #demo {
  border: none;

}

#row1 {
  margin-top: 5%;
}

/*CONTACT*/
#contact {
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}