* {
  margin: 0;
  padding: 0;
}

/*body {
  height: auto;
  margin-top: 500%;
}*/

/*BACKGROUND*/
#welcome {
  background-image: url(../img/fondo.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 15%;
}

/*MENÚ*/
.pos-f-t {
  background-color: none;
  position: fixed;
  width: 15%;
  z-index: 100;
}

#icon {
  border-radius: 50%;
  width: 70%;
  height: 10vh;
}

#iconNav {
  color: #000;
  font-size: 30px;
  margin-top: 15%;
}

#nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  width: 150%;
}

/*INICIO*/
#inicio ul li {
  list-style: none;
  text-align: center;
}

#inicio ul {
  margin-top: 20%;
  width: 100%;
}

#inicio ul li h3 {
  color: #9C27B0 ;
  font-family: 'Parisienne', cursive;
  font-size: 90px;
  font-weight: 600;
}

#inicio ul li p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: -1.5%;
  color: #000;
}

/*ABOUT ME*/
#aboutSection, #skillSection, #projectsSection, #contactSection {
  overflow: hidden;
}

#aboutSection {
  height: 100vh;
}

#about {
  width: 40%;
}

#aboutMe img{
  margin-top: 5%;
  margin-left: 100%;
  font-size: 50px;
  width: 70%;
  text-align: center;
}

#me {
  width: 105%;
  height: 80%;
  margin-top: 5%;
  margin-left: 40%;
  opacity: 0;
  transition: .5s;
}

#me.fade-in {
  opacity: 1;
  width: 105%;
  margin-left: 35%;
}

#textMe {
  margin-top: 5%;
}


#textMe p{
  width: 100%;
  margin-top: -5%;
  height: 15%;
  margin-left: 50%;
  font-weight: 500;
}

#textMe mark {
  background-color: #CCCCFF;
  
}


#hoja {
  width: 200%;
  margin-top: 50%;
}

/*SKILLS*/

#skills img {
  margin-top: -15%;
  margin-left: 30%;
  font-size: 50px;
  width: 40%;
  text-align: center;
}

#list1 {
  margin-top: -10%;
  opacity: 0;
  transition: .8s;
}

#list1.show {
  opacity: 2;
  width: 100%;
}

#list1 {
  margin-left: 8%;
}

#list li {
  list-style: none;
  display: inline-block;
  margin-left: 10%;
  margin-top: 3%;
  text-align: center;
}

#list li h3 {
  width: 100%;
  text-align: center;
  margin-left: 50%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin-top: 3%;
}

#list2 ul li h3 {
  margin-left: 110%;
}

#list2 {
  opacity: 0;
  transition: .8s;
  margin-left: 10%;
}

#list2.show {
  opacity: 2;
  width: 100%;
}

#list h3 {
  margin-left: 15%;
}

#bootstrap, #css, #html, #javascript {
  color: #000;
  font-size: 80px;
  margin-left: 50%;
}

#jquery, #photoshop, #sass {
  color: #000;
  font-size: 80px;
  margin-left: 120%;
}

#bootstrap:hover {
  color: #6A1B9A;
}

#css:hover {
  color: #039BE5;
}

#html:hover {
  color: #D84315;
}

#javascript:hover {
  color: #FFCA28;
}

#jquery:hover {
  color: #283593;
}

#photoshop:hover {
  color: #4DD0E1;
}

#sass:hover {
  color: #E91E63;
}

#fondoSkills {
  width: 30%;
  height: 55vh;
  margin-top: -15%;
}

#enrredadera {
  width: 10%;
  margin-top: -56%;
  margin-left: 90%;
  height: 110vh;
}


/*PROJECTS*/
#projects img{
  margin-top: -15%;
  margin-left: 30%;
  font-size: 50px;
  width: 40%;
  text-align: center;
  
}

#cardSection {
  opacity: 0;
  transition: .7s;
}

#cardSection.fade-in {
  opacity: 1;
  margin-left: 2%;
}

#cardSection1 {
  opacity: 0;
  transition: .7s;
}

#cardSection1.fade-in {
  opacity: 1;
  margin-right: -5%;
}

#card1, #card2, #card3{
  margin-left: 3%;
  width: 150%;
  border: none;
  transform: translate(-50%, -50%);
}

#card4, #card5, #card6 {
  margin-left: 10%;
  margin-top: -5%;
  border: none;
  transform: translate(-50%, -50%);
}

#card1 img {
  width: 100%;
  height: 35vh;
  margin-left: %;
}

#card2 img {
  width: 140%;
  height: 60vh;
  margin-left: -5%;
  margin-top: -20%;
}

#card3 img {
  width: 160%;
  height: 40vh;
  margin-left: -20%;
}

#card4 img {
  width: 105%;
  height: 40vh;
  margin-left: 3%;
}

#card5 img {
  width: 105%;
  height: 43vh;
  margin-top: -5%;
  margin-left: 2%;
}

#card6 img {
  width: 140%;
  height: 43vh;
  margin-top: -8%;
  margin-left: -25%;
}

#card {
  width: 90%;
  height: 80%;
  margin-left: 15%;
  margin-top: 5%;
}

.card-title {
  margin-top: 8%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  margin-left: -25%;
}

#cardBody {
  width: 200%;
}

#cardBody p {
  width: 150%;
}

#titleRed{
  margin-left: -20%;
}

#demo {
  margin-left: 5%;
}

#code, #demo {
  border: none;
  background-color: #C39BD3;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: %;
}

#code1, #demo1 {
  border: none;
  background-color: #C39BD3;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: -5%;
}

#code1 {
  margin-left: -15%;
}

#demo1 {
  margin-left: 5%;
}

#row1 {
  margin-left: -6.5%;
  width: 90%;
}


/*CONTACT*/
#contact img{
  margin-top: -15%;
  margin-left: 30%;
  font-size: 50px;
  width: 40%;
  text-align: center;
}

#listContent {
  margin-top: -10%;
}

#listContact {
  margin-top: 5%;
  opacity: 0;
  transition: .5s;
}

#listContact.fade-in{
  margin-top: 8%;
  opacity: 1;
}

#listContact h3{
  color: #76448A;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

#listContact ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15%;
}

#listContact ul {
  margin-left: 8%;
}

#listImg {
  height: 100vh;
  margin-top: -60%;
  margin-left: 15%;
  opacity: 0;
  transition: .5s;
}

#listImg.fade-in {
  opacity: 1;
}

#listImg2 {
  height: 100vh;
  margin-top: -60%;
  margin-left: 15%;
  opacity: 0;
  transition: .7s;
}

#listImg2.fade-in {
  opacity: 1;
}

/*DEVELOPED SECCION*/
#developer {
  background-color: #FFF;
}

#developer h4 {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

