* {
  margin: 0;
  padding: 0;
}

/*BACKGROUND*/
#containerPrincipal {
  background-image: url(../img/fondo7.png);
  width: 100%;
  height: 500vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}

/*MENÚ*/
#nav {
  background: rgba(0,0,0,0.31);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0.31)), color-stop(0%, rgba(0,0,0,0.3)), color-stop(35%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.3)));
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: linear-gradient(135deg, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  height: 15vh;
  width: 100%;
  display: fixed;
}

#nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 5%;
  margin-top: 2.5%;
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
}

/*INICIO*/
#inicio ul li img{
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

#inicio ul li {
  list-style: none;
  text-align: center;
}

#inicio ul {
  margin-top: 20%;
}

#inicio ul li h3 {
  color: #000;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  font-weight: 600;
}

#inicio ul li p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: -1.5%;
}

/*ABOUT ME*/
#aboutMe h1{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin-top: 20%;
  text-align: center;
  font-size: 25px;
  margin-left: -15%;
  margin-right: 30%;
}

/*SKILLS*/
#skills {
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

#list {
  margin-left: 3%;
}

#list li {
  list-style: none;
  display: inline-block;
  margin-left: -5%;
  margin-top: 3%;
  text-align: center;
}

#list li p{
  width: 70%;
  margin-left: 45%;
}

#list li h3 {
  text-align: center;
  margin-left: 50%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin-top: 3%;
}

#bootstrap, #css, #html, #javascript, #jquery {
  color: #000;
  font-size: 80px;
  margin-left: 50%;
}

#mocha, #react, #nodejs, #sass, #angular {
  color: #000;
  font-size: 80px;
  margin-left: 50%;
}

/*PROJECTS*/
#projects {
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

#card1, #card2, #card3 {
  margin-left: 10%;
}

#card {
  width: 90%;
  height: 60%;
}

.card-title {
  margin-top: 8%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

#demo {
  margin-left: 5%;
}

#code, #demo {
  border: none;

}

#row1 {
  margin-top: 5%;
}

/*CONTACT*/
#contact {
  margin-top: 10%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}